---
import CssBibliotek from "../components/CssBibliotek.astro";
import Section from "../components/Section.astro";
import Taske from "../components/Taske.astro";
import Header from "../components/Header.astro";
import Menu from "../components/Menu.astro";
import Window from "../components/Window.astro";
import Notifikation1 from "../components/Notifikation1.astro";

import MediaUnderlay from "../components/MediaUnderlay.astro";
import Piechart from "../components/Piechart.astro";
import "../styles/animation.css";
import "../styles/generel.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/zkh1dpr.css" />
    <link rel="stylesheet" href="https://use.typekit.net/zkh1dpr.css" />
    <title>Webfeature</title>
  </head>
  <body
    ><Header />
    <header>
      <Menu />
    </header>

    <main>
      <Taske />

      <Section arrowcontrast="true" id="skraber" icontrast="true" isrc="/skraber-pink.svg" ialt="Illustration af en skraber" ianim="aniskraber" tidslinje="tidslinje1" circle="circle1" emne="KROPS­BEHÅRING" bgcolor="primary-bg" headcolor="secondary" textcolor="bodytea"
        >Vidste du, at kropsbehåring er en naturlig del af kroppens funktion? Vi ønsker at nedbryde tabuer omkring dette emne og give dig information og støtte til at føle dig tryg i din egen krop. Statistikker viser, at flere og flere piger og unge kvinder føler sig pressede til at fjerne kropsbehåring på grund af samfundets forventninger til skønhedsidealer. <br /><br />
        Det er vigtigt at huske, at valget om at fjerne eller beholde kropsbehåring er helt personligt, og at du skal følge det, der føles rigtigt for dig selv. Desværre kan kropsbehåring være et tabubelagt emne, der kan føre til skam og usikkerhed hos mange. Vi ønsker at skabe et åbent rum, hvor piger kan dele deres oplevelser og støtte hinanden uden fordømmelse. <br /><br />
        Vi er her for at støtte dig i at træffe de bedste beslutninger for din egen krop og velvære.
        <MediaUnderlay src="/kropshaar.svg" alt="Pige i skole" />
      </Section>

      <Section id="computer" icontrast="false" isrc="/computer-2.svg" ialt="Illustration af computer" ianim="ianim1" tidslinje="tidslinje2" circle="circle2" emne="SKOLE­TRIVSEL" bgcolor="brandcolor-bg" headcolor="primary" textcolor="accent2"
        >Vidste du, at undersøgelser viser, at op til 20% af elever oplever udfordringer med skoletrivsel på et eller andet tidspunkt i deres skolegang? Hos GirlTalk ønsker vi at tackle dette vigtige emne og støtte piger i at trives både fagligt og socialt i skolen. <br /><br />
        Statistikker viser, at faktorer som mobning, præstationspres og manglende støtte kan påvirke skoletrivslen negativt. Det er vigtigt at identificere disse udfordringer og søge hjælp og støtte, når det er nødvendigt. <br /><br />
        Desværre er skoletrivsel stadig et tabubelagt emne for mange, hvilket kan føre til, at elever ikke føler sig trygge ved at dele deres oplevelser. Hos GirlTalk ønsker vi at skabe et åbent og støttende miljø, hvor piger kan dele deres bekymringer og modtage den nødvendige støtte.
        <MediaUnderlay src="/topiger.svg" alt="en glad og en trist pige" />

        Når det kommer til skoletrivsel, er det vigtigt at finde sunde måder at håndtere stress og pres på. Vores rådgivere kan hjælpe dig med at udvikle strategier til at tackle udfordringerne og finde glæde og mening i din skolegang. <br />
        <br />
        Husk, at du ikke er alene i dine udfordringer med skoletrivsel. Hos GirlTalk er vi her for at støtte dig og hjælpe dig med at skabe en positiv og støttende skoleoplevelse. Lad os sammen arbejde mod at skabe et miljø, hvor alle elever kan trives og lykkes.
        <Piechart variant="pie40p" procent="Vidste du at 40% af piger..." text="har på et tidspunkt i deres skolegang haft det svært ved at gå i skole" />
      </Section>

      <Section id="telefon" icontrast="false" isrc="/telefon.svg" ialt="Illustration af telefon" ianim="ianim5" tidslinje="tidslinje1" circle="circle1" emne="SOCIALE MEDIER" bgcolor="accent3-bg" headcolor="secondary" textcolor="accent2">
        Hos GirlTalk ønsker vi at udforske dette emne med dig og give dig værktøjer til at navigere i den digitale verden på en sund måde. <br />
        <br />
        Statistikker viser, at overeksponering for sociale medier kan føre til negative effekter på mentalt velvære, især hos unge piger. Det er vigtigt at være opmærksom på disse risici og at finde en balance mellem online og offline aktiviteter. <br />
        <br />
        Desværre kan sociale medier også være en platform for mobning og negativt selvbillede. Hos GirlTalk ønsker vi at skabe et positivt fællesskab, hvor piger kan støtte hinanden og dele positive erfaringer og råd til at tackle disse udfordringer. <br />
        <Notifikation1 tegn="%" text=" 90% af teenagere i alderen 13-17 år bruger sociale medier." />
        Når det kommer til sociale medier, er det vigtigt at huske på, at det er okay at sætte grænser og sige nej til ting, der ikke føles rigtige for dig. Vores rådgivere er her for at hjælpe dig med at udvikle sunde vaner og strategier til at beskytte dit mentale velvære online. <br />
        <br />
        Husk, at du ikke er alene. Hos GirlTalk er vi her for at støtte dig og hjælpe dig med at navigere gennem den komplekse verden af sociale medier på en positiv måde. Lad os sammen skabe et online fællesskab, hvor vi støtter hinanden og vokser sammen.
        <div class="grid-1fr-1fr">
          <MediaUnderlay src="/pigemedmobil-blue.svg" alt="pige med mobil" />
          <MediaUnderlay anim="ianim3_1" src="/ikoner.svg" alt="ikoner" />
        </div>

        <!-- <MediaUnderlay anim="anim2" src="/socialmedier.webp" alt="sociale medier" /> -->
      </Section>

      <Section arrowcontrast="true" ianim="ianim4" id="lipgloss" tidslinje="tidslinje1" circle="circle1" isrc="/lipgloss-pink.svg" ialt="Illustration af lipgloss" emne="SELV­TILLID" bgcolor="primary-bg" headcolor="brandcolor" textcolor="bodytea"
        >At have selvtillid er som at bære en usynlig kappe af styrke og mod. Det er tilliden til, at du kan overvinde udfordringer og nå dine mål. Selvtillid kommer indefra og bygger på en følelse af værdighed og selvrespekt. <br />
        <br />
        Statistikker viser, at selvtillid spiller en afgørende rolle i vores liv, og at unge, der har et sundt niveau af selvtillid, har større sandsynlighed for at trives og lykkes. Det handler om at stole på dine evner og tro på dig selv, selv når tingene bliver svære. <br />
        <br />Desværre kan manglende selvtillid være en udfordring for mange unge, der kæmper med negative tanker og tvivl på deres egen værdi. Men det er vigtigt at huske, at selvtillid kan trænes og styrkes gennem positiv selvreflektion og opmuntring. <br />
        <br />
        At arbejde med sin selvtillid handler om at identificere og udfordre negative tankemønstre og erstatte dem med positive og støttende tanker. Det handler også om at omgive sig med mennesker, der støtter og opmuntrer dig, og at lære at acceptere og elske dig selv, præcis som du er. <br />
        <br />Du er altid god nok - Men vi er her, når du bliver i tvivl. Vi er her for at støtte dig og hjælpe dig med at opbygge den selvtillid, der vil guide dig gennem livets udfordringer og modgang. Husk, at du er unik, værdifuld og værdig til al den kærlighed og succes, verden har at tilbyde.
        <div class="grid-1fr-1fr">
          <MediaUnderlay anim="ianim3_1" src="/ikoner2.svg" alt="sociale medier" />
          <MediaUnderlay src="/pigemedspejl.svg" alt="sociale medier" />
        </div>
      </Section>

      <Section id="bind" icontrast="false" isrc="/bind.svg" ialt="Illustration af et bind" ianim="ianim4" tidslinje="tidslinje1" circle="circle1" emne="MENSTR­UATION" bgcolor="bodytea-bg" headcolor="secondary" textcolor="accent2">
        Vidste du, at den gennemsnitlige menstruationscyklus varer omkring 28 dage, men det kan variere fra person til person? Det er noget, vi hos GirlTalk ønsker at dele med dig og dine veninder, så I er godt rustet til at håndtere det. <br />
        <br />
        Statistikker viser, at menstruationsrelaterede smerter påvirker op til 80% af kvinder på et eller andet tidspunkt i deres liv. Det er vigtigt at kende dine muligheder for at lindre disse smerter og finde det, der virker bedst for dig. Vi er her for at give dig de bedste råd til at håndtere disse udfordringer. <br />
        <br />
        Desværre er menstruation stadig et tabubelagt emne i mange samfund, hvilket kan føre til manglende viden og støtte til dem, der har brug for det. Hos GirlTalk ønsker vi at bryde denne tavshed og skabe et rum, hvor piger kan dele deres oplevelser og støtte hinanden. Vi er her for dig, uanset hvad du har brug for at tale om. <br />

        <span class="grid-1fr-1fr">
          <MediaUnderlay src="/mens2.svg" alt="illustration af pussy" />
          <MediaUnderlay anim="ianim" src="/bind2.svg" alt="vibrator" />
          <MediaUnderlay src="/mens1.svg" alt="illustration af en pusysy" />
        </span>
        Når det kommer til menstruation, er det vigtigt at finde det rigtige produkt, der passer til dine behov og krop. Vores rådgivere kan give dig information om forskellige typer af menstruationsprodukter og hjælpe dig med at træffe det bedste valg for dig. Vi vil gerne hjælpe dig med at føle dig tryg og godt forberedt. <br />
        <br />
        Husk, at menstruation er en naturlig del af livet, og du fortjener at føle dig komfortabel og velinformeret. Hos GirlTalk er vi her for at støtte dig og hjælpe dig med at navigere gennem denne periode på en positiv måde. Vi er din støtte, når du har brug for det mest.
      </Section>
      <Section id="kondom" icontrast="false" isrc="/kondom.svg" ialt="Illustration af kondom" ianim="ianim1" tidslinje="tidslinje2" circle="circle2" emne="PRÆVEN­TION" bgcolor="brandcolor-bg" headcolor="primary" textcolor="accent2"
        >Vidste du, at prævention er en vigtig del af seksuel sundhed? Det er normalt at have spørgsmål og bekymringer omkring dette emne, og vi er her for at give dig den information og støtte, du har brug for. <br />
        <br />
        Statistikker viser, at brugen af prævention er stigende blandt unge, men der er stadig mange, der mangler korrekt information og adgang til præventionsmidler. Det er vigtigt at forstå dine muligheder og finde den metode, der passer bedst til dig og dine behov. <br />
        <br />
        Desværre er prævention stadig et tabubelagt emne for mange, hvilket kan føre til manglende viden og usikkerhed omkring seksuel sundhed. Vi ønsker at bryde denne tavshed og skabe et åbent rum, hvor du kan få svar på dine spørgsmål og føle dig tryg ved at tale om prævention. <br />

        <MediaUnderlay anim="ianim2" src="/praevention.svg" alt="Prævention" />

        <br />
        Når det kommer til prævention, er der mange forskellige metoder at vælge imellem, såsom kondomer, p-piller, spiral og meget mere. Det er vigtigt at undersøge dine muligheder og tale med en sundhedsprofessionel for at finde den bedste løsning for dig. <br />

        <br />
        Husk, at prævention ikke kun handler om at undgå uønsket graviditet, men også om at beskytte dig mod seksuelt overførte infektioner (STI'er). Vi er her for at hjælpe dig med at træffe informerede beslutninger om din seksuelle sundhed og velvære.
      </Section>
      <Section id="piller" icontrast="false" isrc="/piller-pink.svg" ialt="Illustration af et glas piller" ianim="ianim3" tidslinje="tidslinje1" circle="circle1" emne="MENTAL HELBRED" bgcolor="secondary-bg" headcolor="accent3" textcolor="bodytea"
        >At få en diagnose kan være en udfordrende oplevelse, men det er vigtigt at huske, at du ikke er alene, og at der er støtte og ressourcer til rådighed for dig. Vi er her for at hjælpe dig med at forstå din diagnose og finde de bedste måder at håndtere den på. <br />
        <MediaUnderlay anim="ianim2" src="/udepiller-pink.svg" alt="Pigegruppe" />
        Statistikker viser, at stadig flere unge mennesker står over for mentale sundhedsudfordringer og får diagnoser som angst, depression og ADHD. Det er vigtigt at søge hjælp og støtte, hvis du oplever symptomer eller har brug for rådgivning omkring din mentale sundhed. <br />
        <br />Desværre kan diagnoser være et tabubelagt emne, hvilket kan føre til manglende forståelse og stigmatisering i samfundet. Vi ønsker at bryde denne tavshed og skabe et rum, hvor du kan tale åbent om dine oplevelser og finde støtte fra andre i lignende situationer. <br />
        <br />
        Når det kommer til at håndtere en diagnose, er det vigtigt at finde sunde måder at tackle symptomerne på og finde støtte fra venner, familie og professionelle. Vi er her for at hjælpe dig med at finde de bedste ressourcer og strategier til at håndtere din diagnose og leve et meningsfuldt liv. <br />
        <br />
        Husk, at en diagnose ikke definerer dig som person, og at der altid er håb og muligheder for bedring og vækst. Vi er her for at støtte dig på din rejse mod bedre mentalt velvære og trivsel.</Section
      >
      <Section id="satisfyer" icontrast="false" isrc="/satisfyer.svg" ialt="Illustration af en satisfyer" ianim="ianim5" tidslinje="tidslinje1" circle="circle1" emne="SEXLIV OG GRÆNSER" bgcolor="accent3-bg" headcolor="primary" textcolor="accent2"
        >Dit sexliv er en helt personlig og vigtig del af din livskvalitet, og det er vigtigt at forstå dine grænser og respektere dem. Vi er her for at støtte dig i at udforske dette emne og lære at kommunikere åbent og ærligt om dine behov og ønsker. <br />
        <br />
        Statistikker viser, at unge ofte oplever pres og forventninger om sex, både fra venner, medier og samfundet generelt. Det er vigtigt at huske, at det er helt normalt at føle sig usikker eller nervøs, og at du altid har ret til at sige nej eller stoppe, hvis du ikke er klar. <br />
        <Window text=" Husk, at dit sexliv skal være sjovt, sikkert og behageligt for dig og din partner." />

        <br />
        Når det kommer til sex, er det vigtigt at være opmærksom på dine egne grænser og respektere dine partners grænser. Kommunikation er nøglen til et sundt og respektfuldt sexliv, så sørg altid for at tale åbent og ærligt med din partner om dine ønsker og grænser. <br />
        <br />
        Vi er her for at støtte dig i at navigere gennem kompleksiteten af sex og grænser og hjælpe dig med at træffe informerede beslutninger, der er rigtige for dig.
        <div class="grid-1fr-1fr">
          <MediaUnderlay anim="ianim4" src="/pinkpus.svg" alt="illustration af pussy" />
          <MediaUnderlay anim="ianim5" src="/satisfyerdown.svg" alt="vibrator" />
          <MediaUnderlay anim="ianim4" src="/pinkpus2.svg" alt="illustration af en pusysy" />
        </div>
      </Section>
      <Section id="p_piller" arrowcontrast="true" ianim="ianim1" tidslinje="tidslinje1" isrc="/p_piller-pink.svg" ialt="Illustration af p piller" circle="circle1" emne="P-PILLER" bgcolor="primary-bg" headcolor="secondary" textcolor="bodytea"
        >P-piller er noget, som mange unge piger stifter bekendtskab med, men det er vigtigt at være informeret om både fordele og ulemper ved p-piller. Vi ønsker at give dig den nødvendige information og støtte, så du kan træffe informerede beslutninger omkring hvor vidt du skal på p-piller. <br />
        <br />
        Statistikker viser, at p-piller kan have negative bivirkninger, og at at starte tidligt kan have negative konsekvenser for både din fysiske og mentale sundhed. Det er vigtigt at kende dine behov og vide, hvor vidt det er det rigtige for dig. <br />
        <MediaUnderlay anim="ianim4" src="/p_pills.svg" alt="illustration af p piller" />
        Der kan være mange årsager til at starte på p-piller. Som f.eks at bruge det som et præventionsmiddel, nogen bruger også p-piller på grund af irregulær menstruation, eller acne problemer. <br />
        <br />
        Når det kommer til at tackle beslutningen om p-piller, kan det være en god idé at snakke med dine forældre eller en lægefaglig om hvorfor du vil starte p-piller og om det er det rigtige til lige præcis dig. De kan give dig støtte og vejledning til at navigere gennem disse beslutninger på en sund og sikker måde.</Section
      >

      <section class="pink"></section>
    </main>
  </body>
  <style>
    .grid-1fr-1fr {
      display: flex;
    }
    html {
      background-color: var(--brandcolor);
    }
    @media (max-width: 900px) {
      .desktop {
        display: none;
      }
      .flex2 {
        display: flex;
        justify-content: space-between;
      }
    }
  </style>
</html>
