---
import CssBibliotek from "../components/CssBibliotek.astro";
import Section from "../components/Section.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/zkh1dpr.css" />
    <link rel="stylesheet" href="https://use.typekit.net/zkh1dpr.css" />
    <title>Webfeature</title>
  </head>
  <body>
    <h1>Webfeature</h1>
    <Section bgcolor="primary" headcolor="accent3" textcolor="accent3">Test section 1 <p>Paragraph</p></Section>
    <Section bgcolor="secondary" headcolor="accent3" textcolor="accent3">Test section 2 <p>Paragraph</p></Section>
    <Section bgcolor="brandcolor" headcolor="accent2" textcolor="accent3">Test section 3 <p>Paragraph</p></Section>
    <CssBibliotek />
  </body>
</html>
