---
import CssBibliotek from "../components/CssBibliotek.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/zkh1dpr.css" />
    <link rel="stylesheet" href="https://use.typekit.net/zkh1dpr.css" />
    <title>Webfeature</title>
  </head>
  <body>
    <h1>Webfeature</h1>
    <CssBibliotek />
  </body>
</html>
