---
import "../styles/generel.css";
const { variant, text, procent } = Astro.props;
---

<div class="flex">
  <div class="col1">
    <div class="container">
      <div class={variant}></div>
    </div>
  </div>
  <div class="col2"><h3>{procent}</h3><p>{text}</p></div>
</div>

<style>
  .container {
    position: inherit;
    display: flex;
    width: 50%;

    flex-direction: column;
    justify-content: end;
  }
  h3 {
    margin-right: auto;
    margin-left: auto;
    color: var(--secondary);
  }
  .pie20p {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;

    background-image: url(/public/Piechart.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pie40p {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;

    background-image: url(/public/Piechart-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pie60p {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;

    background-image: url(/public/Piechart-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
  }
</style>

<!-- gammel piechart fra codepen -->

<!-- <div class="pie-wrap pie-wrap2">
  <div class="slice1 slice-wrap"></div>
  <div class="slice2 slice-wrap"></div>
</div>
<style>
  .pie-wrap {
    height: 100px;
    position: relative;
    margin: 20px;
  }

  .pie-wrap:before {
    content: "";
    display: block;
    background-color: #e4dac2;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
  }

  .slice-wrap:before {
    content: " ";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    clip: rect(0px, 50px, 100px, 0px);
    background-color: #968763;
    transform: rotate(10deg);
  }

  .slice-wrap {
    position: absolute;
    width: 100px;
    height: 100px;
    clip: rect(0px, 100px, 100px, 50px);
  }

  .slice2.slice-wrap {
    transform: rotate(180deg);
    animation: spin3 1s linear forwards 3s;
  }

  .slice1:before {
    animation: 1s spin linear forwards;
  }

  .slice2:before {
    /* older webkit seems buggy with zero so use 0.00001 if you notice something strange*/
    transform: rotate(0deg);
    animation: 2s spin2 linear 2s forwards;
  }

  .pie-wrap:after {
    /* remove this if you want pie shape to show*/
    content: " ";
    width: 80px;
    height: 80px;
    background: #fde3a7;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 999;
  }

  .pie-wrap2:after {
    display: none;
  }

  @keyframes spin {
    from {
      transform: rotate(10deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

  @keyframes spin2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(144deg);
    }
  }
</style> -->
