---
import "../styles/generel.css";

const { bgcolor, headcolor, textcolor, emne } = Astro.props;
---

<section class={bgcolor}>
  <h1 class={headcolor}>{emne}</h1>
  <p class={textcolor}><slot /></p>
  <div class="flex1">
    <a href="#TOP"><img class="pil" src="../../public/arrow-accent1.svg" alt="Arrow" /></a>
  </div>
</section>

<style>
  section {
    height: auto;
    padding: 2rem 1rem;
  }

  /* bg-colors */
  .primary-bg {
    background-color: var(--primary);
  }

  .secondary-bg {
    background-color: var(--secondary);
  }

  .brandcolor-bg {
    background-color: var(--brandcolor);
  }

  .accent1-bg {
    background-color: var(--accent1);
  }
  .accent2-bg {
    background-color: var(--accent2);
  }

  .accent3-bg {
    background-color: var(--accent3);
  }

  .bodytea-bg {
    background-color: var(--body-tea);
  }

  /* Textcolors */
  .primary {
    color: var(--primary);
  }

  .secondary {
    color: var(--secondary);
  }

  .brandcolor {
    color: var(--brandcolor);
  }

  .accent1 {
    color: var(--accent1);
  }
  .accent2 {
    color: var(--accent2);
  }

  .accent3 {
    color: var(--accent3);
  }
  .bodytea {
    color: var(--body-tea);
  }

  /* PIL */
  .flex1 {
    display: flex;
    justify-content: end;
  }

  .pil {
    max-width: 2rem;
  }

  p {
    line-height: 1.4rem;
  }

  /* SKAL I GENEREL.CSS */
  html {
    scroll-behavior: smooth;
  }
</style>
