---
import "../styles/generel.css";
---

<article class="hero-img">
        <div class="hero-fill ">
            <div class="hero-text">
                <h1 class="titel1">HVAD HAR DU</h1>
                <div class="flex"> 
                    <h1 class="titel2">MED I</h1>
                 <h1 class="titel3">TASKEN?</h1>
                </div>
               
            </div>
            <div class="hero-button"> <a href= "#items"> <h3>Se indhold </h3></a></div>
          <span></span>
          <div class="taske">
            <div class="piller item"><a href="#piller"> 
                <img src="/piller.svg" alt="piller"></a></div>
            <div class="kondom item"><a href="#kondom"><img src="/kondom.svg" alt="kondom"></a></div>
            <div class="telefon item"><a href="#telefon"><img src="/telefon.svg" alt="telefon"></a></div>
            <div class="computer item"><a href="#computer"><img src="/computer.svg" alt="computer"></a></div>
            <div class="p_piller item"><a href="#p_piller"><img src="/p_piller.svg" alt="p piller"></a></div>
            <div class="lipgloss item"><a href="#lipgloss"><img src="/lipgloss.svg" alt="lipgloss"></a></div>
            <div class="bind item"><a href="#bind"><img src="/bind.svg" alt="bind"></a></div>
            <div class="satisfyer item"><a href="#satisfyer"><img src="/satisfyer.svg" alt="vibrator"></a></div>
            <div class="skraber item"><a href="#skraber"><img src="/skraber.svg" alt="skraber"></a></div>
          </div>
        </div>     
    </article>

    <article class="container hide" id="items">
   
        <div class="piller item"><a href=""> 
            <img src="/piller.svg" alt="piller"></a></div>
        <div class="kondom item"><a href=""><img src="/kondom.svg" alt="kondom"></a></div>
        <div class="telefon item"><a href=""><img src="/telefon.svg" alt="telefon"></a></div>
        <div class="computer item"><a href=""><img src="/computer.svg" alt="computer"></a></div>
        <div class="p_piller item"><a href=""><img src="/p_piller.svg" alt="p piller"></a></div>
        <div class="lipgloss item"><a href=""><img src="/lipgloss.svg" alt="lipgloss"></a></div>
        <div class="bind item"><a href=""><img src="/bind.svg" alt="bind"></a></div>
        <div class="satisfyer item"><a href=""><img src="/satisfyer.svg" alt="vibrator"></a></div>
        <div class="skraber item"><a href=""><img src="/skraber.svg" alt="skraber"></a></div>

    </article>
<script>
const button = document.querySelector(".hero-button")
button.addEventListener("mousedown", clickButton)

function clickButton (){
    console.log("clickButton")
    document.getElementById("items").style.display = "inherit";
}

const taske = document.querySelector(".taske")
const item = document.querySelectorAll(".item")


</script>
<style>
    .hide{
        display: none;
    }
.taske{
    display: none;
}
h1 {
margin-bottom: -2.5rem;
  transition: 0.2s ease-in;
  color: var(--accent3) ;
  -webkit-text-stroke: var(--brandcolor) 1px;
}
.titel2{
    margin-left: 5rem;
}
.titel3{
   padding-left: 10rem;
}
  .hero-fill{
    background-image: url("/bluepurse.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
/*container for tekst og knap til section
gør så man kan align tekst og knap indenfor sit grid*/
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    justify-content: center;
    text-align: left;
    height: 85vh;
    }
    .hero-img{
    height:90vh;
    width: 100%;
    background-color: var(--brandcolor);
    padding-top: 2rem;
    transition: 0.2s;
    }
.hero-button {
    background-color: var(--accent3);
    height: auto;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 0px var(--primary);
    /*placerer item i midten*/
    margin: auto;
    transition: 0.5s;
}
.hero-button a{
    text-decoration: none;
    color: var(--primary);
}
.hero-button:hover{
    background-color: var(--primary);
    box-shadow: 6px 6px 0px var(--accent3);
    transition: 0.5s;
}
.hero-button:hover a{
    color: var(--accent3);
}

/* items i tasken */
.container{
    position: relative;
    height: 90vh;
    background-color: var(--accent3);
    container-type: inline-size;
    overflow: hidden;
}
.item{
    position: absolute;
    transition: 0.2s;
}
.item:hover{
    rotate: 12deg;
    transition: 0.2s;
}

.piller{
    top: 8%;
    left: 15%;
    width: 20%;
}

.kondom{
    top: 30%;
    left: 5%;
    width: 20%;
}
.telefon{
    right:20%;
    top: 8%;
   rotate: -10deg;
    width: 20%;
}
.computer{
    top: 30%;
    right: 8%;
    rotate: 10deg;
}
.bind{
    bottom:30%;
    right: 8%;
    width: 30%;
    rotate: 8deg;
}

.lipgloss{
    bottom:30%;
    right: 48%;
    width: 8%;
    rotate: -10deg;
}
.p_piller{
    bottom:35%;
    left: 12%;
    width: 19%;
    rotate: -10deg;
}
.skraber{
    width: 18%;
rotate: -10deg;
    right:25%;
    bottom: 5%;
}
.satisfyer{
    bottom: 5%;
    left: 25%;
    width: 22%;
} 
@media (min-width: 900px) {
    span, #items, .container .item{
        display: none;
    }
#items{
    max-height: 0;
}
    .taske{
        position: relative;
        width: 78%;
        aspect-ratio: 13/9;
        display: block;
        margin: auto;
}
.item{
    scale: 0;
    transition: 0.5s;
    opacity: 0;
}
.taske:hover .item{
scale: 1;
transition: 0.5s;
opacity: 1;
}
.item:hover{
    rotate: 5deg;
}
.hero-button{
    display: none;
}
    h1{
        margin: -1.5rem 0 -1rem 0;
        font-size: 4rem;
    }

.hero-fill{
   gap: 3rem;
} 
.flex{
    display: flex;
    padding: 0;  
    gap: 1rem;
}
.flex h1{
    padding: 0;
}
.titel2{
    margin-left: 12rem;
}
.hero-img{
    height:92vh;
    transition: 0.2s;
    padding-top:1rem ;
    }
    .hero-fill{
        height:88vh; 
    }
    .kondom{
    top: 30%;
    left: 60%;
    width: 10%;
}
.piller{
    width: 12%;
    rotate: -12deg;
}
.telefon{
    right:50%;
    top: 10%;
   rotate: -20deg;
    width: 13%;
}
.computer{
    top: 48%;
    right: 14%;
    rotate: -8deg;
    width: 50%;

}
.bind{
    bottom:75%;
    right: 28%;
    width: 16%;
    rotate: -8deg;
}

.lipgloss{
    bottom:40%;
    right: 70%;
    width: 4.6%;
    rotate: 50deg;
}
.p_piller{
    bottom: 10%;
   left: 23%;
    width: 12%;
    rotate: -8deg;
}
.skraber{
    width: 10%;
rotate: 25deg;
    right:16%;
   bottom: 63%;
}
.satisfyer{
    bottom: 5%;
    left: 8%;
    rotate: -5deg;
    width: 15%;
} 

}
    

</style>